<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User</title>
</head>
<body>
<div>
  <p th:text="'ID: ' + ${user.getId()}">ID</p>
  <p th:text="'Name: ' + ${user.getName()} + ' ' + ${user.getSurname()}">NAME SURNAME</p>
  <p th:text="'Age: ' + ${user.getAge()}">AGE</p>
</div>

<br/>

<div th:if="${allUserBooks.isEmpty()}">
  <p>User hasn't taken any books yet.</p>
</div>

<div th:if="${!allUserBooks.isEmpty()}">
  <p>All user`s books: </p>
  <div th:each="book : ${allUserBooks}" th:text="${book.getName()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYear()}">BOOK</div>
</div>

<hr/>

<div>
  <a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit user</a>
</div>

<br/>

<form th:method="DELETE">
  <input type="submit" value="Delete person!">
</form>

</body>
</html>